<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Web Client</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />  
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.11.3.js"></script>
    </head>
    <body>
        <header>
@*            <div class="content-wrapper">*@
@*                <div class="float-left">*@
@*                </div>*@
@*                <div class="float-right">*@
@*                    <section id="login">*@
@*                        @Html.Partial("_LoginPartial")*@
@*                    </section>*@
@*                    <nav>*@
@*                        <ul id="menu">*@
@*                            $1$                            <li>@Html.ActionLink("Home", "Index", "Home")</li>#1#*@
@*                            $1$                            <li>@Html.ActionLink("About", "About", "Home")</li>#1#*@
@*                            $1$                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>#1#*@
@*                        </ul>*@
@*                    </nav>*@
@*                </div>*@
            @*            </div>*@
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Gmail Web Client</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class=""><a href="@Url.Action("About", "Home")">About</a></li>
                    </ul>
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                </div>
            </nav>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year 
                        <a href="http://www.github.com/aneguzman" target="_blank">aneguzman</a>
                    </p>
                </div>
            </div>
        </footer>

@*        @Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
